<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/index.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body>

    <section class="user-login-page" id="user-login-page">
        <div class="user-login">
            <form class="user-login-fields">
                <label for="id">User ID: </label>
                <input class="user-id" type="text">
                <label for="password">User Password: </label>
                <input class="user-password" type="text">
            </form>
        </div>
        <div>
            <button class="button" id="user-submit" type="button">Submit</button>
            </div>
    </section>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/scripts/users/create.js"></script>
</body>
</html>