<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/index.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body class="login-signup-body">
    
    <section id="create-test-page">
        <div class="create-test-page">
            <h1>Enter a Title for Your Quiz in the Field Below:</h1>
            <div id="create-test-container">
                <input aria-label="test title" class="input-border quiz-title" type="text" placeholder="Quiz Title" id="quiz-title">
                <div class="create-test-question" id="create-test-questions-container">
                   
                </div>
                <div id="create-question">
                    <div class="create-test-question">
                        <div class="create-test-title">
                            <h2>Create Question</h2>
                            <input aria-label="question" class="input-border" type="text" placeholder="Enter Question Here" class="testTitle" id="question-title" value="">
                        </div>
                        <div class="create-test-answers">
                            <input aria-label="create choice 1" class="input-border" type="text" placeholder="Choice 1" value="" id="choice1">
                            <input aria-label="create choice 2" class="input-border" type="text" placeholder="Choice 2" value="" id="choice2">
                            <input aria-label="create choice 3" class="input-border" type="text" placeholder="Choice 3" value="" id="choice3">
                            <input aria-label="create choice 4" class="input-border" type="text" placeholder="Choice 4" value="" id="choice4">
                            <input aria-label="correct choice" class="input-border question-spacer" type="text" placeholder="Correct Answer" value="" id="correct-answer">
                        </div>
                    </div>
                </div>
            </div>
            <button class="add-question" id="addQuestion">Add Question</button>
            <button class="add-question" id="submit-test">Submit Quiz</button>
        </div>
    </section>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/scripts/tests/create.js"></script>

</body>
</html>