<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/index.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body class="login-signup-body"class="main-button">
    <header class="admin-header" role="banner">
        <div class="logout-admin">
                    
        </div>
        <div role="banner" class="main-header">
                <h1>Test Creator</h1>
        </div>
        <div class="welcome-instruct">
            
        </div>
    </header>
    <main role="main">
        <section role="region" class="admin-home" id="admin-home">
            <div class="admin-options">
                <form class="admin-form">
                    <a class="main-button" href="/users/create">Create User</a>
                    <a class="main-button" href="/users/view">View Users</a>
                    <a class="main-button" href="/tests/create">Create Test</a>
                    <a class="main-button" href="/tests/view">View Tests</a>
                </form>
            </div>
        </section>
    </main>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/scripts/tests/index.js"></script>
</body>
</html>