<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Fullstack Capstone</title>
    <link rel="stylesheet" href="/index.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body class="take-test-page-body">
    <section role="region" class="take-test-page">
        <div class="take-test-title">

        </div>

        <div class="take-test-questions">
            <form class="take-test-questions-form">

            </form>

        </div>
    </section>
    <section class="text-align" role="region">
        <div class="return-to-home-container">
            <a href="/users/home"><p class="return-to-home-create-test">Return to homepage?</p></a>
        </div>
    </section>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/scripts/tests/test.js"></script>
</body>