<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/index.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body class="view-test-body">
    <header role="banner" class="main-header">
        <h1>Test Creator</h1>
    </header>
    <section role="region" class="test-list-page" id="test-list-page">
        <div class="instructions">
            <p>Review tests below. Delete questions or the entire test.</p>
        </div>
        <div class="dropdown">
            <select aria-label="Test Select Dropdown" class="dropdown-select" name="view" id="dropdown-menu">
                <option class="dropdown-menu" value=""disabled selected hidden>View Tests</option>
            </select>
        </div>
        <div class="view-test-title">
            
        </div>
        <div class="view-test">

        </div>
        <div class="return-to-home-container">
            <a href="/tests"><p class="return-to-home-admin">Return to homepage</p></a>
        </div>
    </section>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/scripts/tests/view.js"></script>
</body>
</html>