<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/index.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body class="user-admin-submit-body">
    
    <section role="region" class="signup-page" id="signup-page">
        <header role="banner" class="main-header">
            <h1>Test Creator</h1>
        </header>
        <div class="signup-fields-container">
            <div class="signup-fields">
                <form class="admin-info">
                    <label for="first-name" id="first-name">First Name: </label>
                    <input aria-labelledby="first-name" class="admin-first-name input-border" type="text" name="admin-first-name" id="admin-first-name">
                    <label for="last-name" id="last-name">Last Name: </label>
                    <input aria-labelledby="last-name" class="admin-last-name input-border" type="text" name="admin-last-name" id="admin-last-name">
                    <label for="username" id="username">Username: </label>
                    <input aria-labelledby="username" class="admin-username input-border" type="text" name="admin-username" id="admin-username" required>
                    <label for="password" id="password">Password: <span id="length-error"></span></label>
                    <input aria-labelledby="password" class="admin-password input-border" type="password" name="admin-password" id="admin-password" required>
                    <label for="retype-password">Retype Password: <span id="match-error"></span></label>
                    <input aria-labelledby="retype-password" type="password" class="input-border" name="retype-password" id="retype-password" required>
                    <div class="login-return">
                        <button class="admin-button">Submit</button>
                        <a href="/"><p class="return-to-home">Return to homepage</p></a>
                    </div>
                </form>
                
            </div>
        </div>
    </section>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/scripts/authentication/createAdmin.js"></script>
</body>
</html>