<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/index.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body class="user-admin-submit-body">

    <section role="region" class="admin-login-page" id="admin-login-page">
        <header role="banner" class="main-header">
            <h1>Test Creator</h1>
        </header>
        <div class="admin-login-container">
            <form class="admin-login-fields">
                <label for="id" id="admin-id">Admin Username: </label>
                <input placeholder="Trial Admin: knichols" aria-labelledby="admin-id" class="admin-id input-border" type="text">
                <label for="password" id="admin-password">Admin Password: </label>
                <input placeholder="Trial Password: 1234567890" aria-labelledby="admin-password" class="admin-password input-border" type="password">
                <div class="login-return">
                    <button class="admin-button">Login</button>
                    <a href="/"><p class="return-to-home">Return to homepage</p></a>
                </div>
            </form>
        </div>
    </section>  

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/scripts/authentication/adminLogin.js"></script>
</body>
</html>