<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Fullstack Capstone</title>
    <link rel="stylesheet" href="/index.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body>

    <section class="signup-login-header center-align" id="signup-login-header">
        <header>
            <h1>Working Title</h1>
            <p>Sign up below to create a testing database for your employees</p>
        </header>
        <div class="signup-buttons-container">
            <div class="signup-buttons" id="admin-login">
                <form class="admin">
                    <a class="main-button" href="/authentication/adminLogin">Admin Login</a>
                    <a class="main-button" href="/authentication/userLogin">User Login</a>
                    <a class="main-button" href="/authentication/adminSignup">Sign Up</a>
                </form>
            </div>    
        </div>
    </section>

    <section class="user-info-page hidden" id="user-info-page"> 
        <p>hi</p>
    </section>

    <section class="user-home-page hidden" id="user-home-page">
        <div class="class user-home-page-container">
            <div class="user-name-photo">

            </div>
            <div class="test-list">

            </div>
        </div>
    </section>

    <section class="test-page hidden" id="test-page">
        <p>testing</p>
    </section>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/client.js"></script>
</body>
</html>


