<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/index.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body class="user-admin-submit-body">

    <section role="region" class="user-login-page" id="user-login-page">
        <header role="banner" class="main-header">
            <h1>Test Creator</h1>
        </header>
        <div class="user-login-container">
            <form class="user-login-fields">
                <label for="id" id="user-id">User ID: </label>
                <input placeholder="Trial: manichols" aria-labelledby="user-id" class="user-id input-border" type="text">
                <label for="password" id="user-password">User Password: </label>
                <input placeholder="Trial: 1234567890" aria-labelledby="user-password" class="user-password input-border" type="password">
                <div class="login-return">
                    <button class="admin-button">Login</button>
                    <a href="/"><p class="return-to-home">Return to homepage</p></a>
                </div>
            </form>
        </div>
    </section>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/scripts/authentication/userLogin.js"></script>
</body>
</html>