<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/index.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body class="user-admin-submit-body">

    <section class="user-login-page" id="user-login-page">
        <div class="user-login-container">
            <form class="user-login-fields">
                <label for="id">User ID: </label>
                <input class="user-id input-border" type="text">
                <label for="password">User Password: </label>
                <input class="user-password input-border" type="text">
                <button class="admin-button">Login</button>
            </form>
        </div>
    </section>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/scripts/authentication/userLogin.js"></script>
</body>
</html>