* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.login-signup-body {
    background-image: url("https://farm5.staticflickr.com/4573/38284688912_8f68b8bd9d_k.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.instructions {
    width: 80%;
    background-color: rgba(247, 240, 240, 0.5);
    border-radius: 6px;
    margin-left: auto;
    margin-right: auto;
}

.instructions-view-user {
    font-size: 26px;
    width: 40%;
    background-color: rgba(247, 240, 240, 0.71);
    border-radius: 6px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.instructions > p {
    padding: 4px;
}

.logout-button {
    border: 1px solid #0C0C0C;
    border-radius: 1px;
    padding: 5px;
    background-color: #F8F8FF;
    text-decoration: none;
    float: right;
    clear: both;
}

.logout-button:hover {
    box-shadow: 2px 2px 2px;
}

.admin-logout, .user-logout {
    overflow: hidden;
}


a {
    color: black;
    text-decoration: none;
}

.hidden {
    display: none;
}

.signup-buttons-container {
    margin-top: 40px;
}

.main-header > h1 {
    text-align: center;
    font-size: 90px;
    color: #FFFAFA;
    padding-bottom: 5px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    margin-bottom: -1px;
}

.main-header-small > h1 {
    text-align: center;
    font-size: 50px;
    color: #FFFAFA;
    padding-bottom: 5px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    margin-bottom: -1px;
}

.user-login-page > .main-header, .signup-page > .main-header, .admin-login-page > .main-header {
    margin-bottom: 10px;
}

.create-test-page > h1 {
    color: #050505;
    margin-bottom: 10px;
    text-shadow: -0.5px 0 #EBE9E9, 0 0.5px#EBE9E9, 0.5px 0#EBE9E9, 0 -0.5px#EBE9E9;
}

.create-test-page {
    background-color: rgba(247, 240, 240, 0.5);
    padding: 30px;
    border-radius: 2px;
    border: 0.5px solid #7A7979;
}

.main-button {
    display: inline-block;
    border: 1px solid #181212;
    border-radius: 1px;
    box-shadow: 1px 1px 1px;
    margin: 4px;
    padding: 8px;
    background: #F8F8FF;
    width: 110px;
    height: 40px;
}

.main-button:hover {
    box-shadow: 2px 2px 2px;
}

.admin-options {
    margin-top: 50px;
    text-align: center;
}

.text-align {
    text-align: center;
}

.admin-button-container {
    margin-top: 1px;
}

.admin-button {
    font-weight: bold;
    border: 1px solid black;
    border-radius: 1px;
    width: 90px;
    height: 40px;
    padding: 2px;
    margin-top: 1px;
    background: #F8F8FF;
    text-decoration: none;
}

.add-question {
    font-weight: bold;
    border: 1px solid black;
    border-radius: 1px;
    width: 110px;
    height: 40px;
    padding: 2px;
    margin-top: 1px;
    margin-bottom: 15px;
    background: #F8F8FF;
    text-decoration: none;
}

.admin-button:hover {
    box-shadow: 2px 2px 2px;
}

.center-align {
    text-align: center;
}

.signup-buttons {
    display: inline-block;
}

.admin-login-container, .signup-fields-container, .user-login-container,  {
    margin-top: 100px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.user-data-container {
    margin-top: 50px;
}

.admin-login-fields > input, label {
    display: block;
}

.user-admin-submit-body {
    background-image: url("https://farm5.staticflickr.com/4573/38284688912_8f68b8bd9d_k.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.admin-login-fields, .signup-fields, .user-login-fields {
    background-color: rgba(247, 240, 240, 0.5);
    padding: 30px;
    border-radius: 2px;
    border: 0.5px solid #817F7F;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

.user-data {
    margin-bottom: 40px;
}

.admin-login-fields > label, .admin-info > label, .user-login-fields > label, .user-data-inputs > label {
    font-size: 20px;
    color: #161616;
    text-shadow: -0.5px 0 #F3EBEB, 0 0.5px #F3EBEB, 0.5px 0 #F3EBEB, 0 -0.5px #F3EBEB;
    
}

.admin-login-fields > input, .admin-info > input, .user-login-fields > input, .user-data-inputs > input {
    padding: 5px;
}

.return-to-home {
    border: 1px solid #181212;
    border-radius: 1px;
    padding: 8px;
    background: #F8F8FF;
    width: 90px;
    height: 40px;
    margin-top: 1px;
    margin-bottom: 0px;
    margin-left: 8px;
    vertical-align: center;
}

a > .return-to-home {
    font-size: 12px;
    text-align: center;
    font-weight: bold;
    padding: 3px;
}

.return-to-home:hover {
    box-shadow: 2px 2px 2px;
}

.return-to-home-container {
    display: inline-block;
    margin: 0 auto;
}

.login-return > a, .login-return > button {
    display: inline-block;
}

.login-return-view {
    margin: auto;
    margin-top: 20px;
    float: right;
}

.return-to-home-view {
    border: 1px solid #181212;
    border-radius: 1px;
    padding: 1px;
    background: #F8F8FF;
    width: 110px;
    height: 40px;
    margin-top: 1px;
    margin-bottom: 0px;
    margin-left: 8px;
    vertical-align: center;
}

a > .return-to-home-view {
    font-size: 12px;
    text-align: center;
    font-weight: bold;
    padding: 3px;
}

.return-to-home-admin {
    border: 1px solid #181212;
    border-radius: 1px;
    padding: 8px;
    background: #F8F8FF;
    width: 90px;
    height: 40px;
    margin-bottom: 0px;
    margin-left: 8px;
    vertical-align: center;
    margin-top: 200px;
    text-align: center;
}

a > .return-to-home-admin {
    font-size: 12px;
    text-align: center;
    font-weight: bold;
    padding: 3px;
}

.return-to-home-create-test {
    border: 1px solid #181212;
    border-radius: 1px;
    padding: 8px;
    background: #F8F8FF;
    width: 90px;
    height: 40px;
    margin-top: 100px;
    margin-bottom: 0px;
    margin-left: 8px;
    vertical-align: center;
}

.return-to-home-create-test:hover {
    box-shadow: 1px 1px 1px;
}

a > .return-to-home-create-test {
    font-size: 12px;
    text-align: center;
    font-weight: bold;
    padding: 3px;
}

.return-to-home-admin:hover {
    box-shadow: 1px 1px 1px;       
}

.input-border {
    border: 1px solid black;
    margin-bottom: 10px;
    box-sizing: border-box;
    padding: 4px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.question-spacer {
    margin-bottom: 30px;
}

.quiz-title {
    margin-bottom: 30px;
    padding: 8px;
}

.create-test-page {
    width: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#create-test-page {
    text-align: center;
}

/*Styling for the tests/view.html page*/

.view-test-body {
    background-image: url("https://farm5.staticflickr.com/4573/38284688912_8f68b8bd9d_k.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.dropdown-select {
    border: 1px solid black;
    padding-left: 5px;
    padding-right: 5px;
    width: 25%;
    height: 25px;
}

.dropdown-menu {
    border: 1px solid black;
}

.test-list-page {
    margin-top: 30px;
    text-align: center;
}

.dropdown {
    text-align: center;
}

.view-test-title {
    text-align: center;
}

.view-test-title > h1 {
    font-size: 30px;
    color: #FFFAFA;
    margin-bottom: 10px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.question {
    background-color: rgba(247, 240, 240, 0.5);
    border: 0.5px solid #817F7F;
    float: left;
    padding-left: 2%;
    padding-right: 2%;
    margin: 15px;
    border-radius: 4px;
    display: table-cell;
}

.delete-test {
    text-decoration: none;
    border: 1px solid #181212;
    border-radius: 1px;
    margin: 4px;
    margin-bottom: 20px;
    padding: 6px;
    background: #F8F8FF;
    width: 110px;
    height: 40px;
}

.delete-test:hover {
    box-shadow: 1px 1px 1px; 
}

.delete-question {
    text-decoration: none;
    border: 1px solid #181212;
    border-radius: 1px;
    margin: 4px;
    margin-bottom: 20px;
    padding: 6px;
    background: #F8F8FF;
    width: 110px;
    height: 40px;
}

.delete-question:hover {
    box-shadow: 1px 1px 1px;    
}

.view-test {
    display: table;
    width: 100%;
}

/* User homepage styling */

.user-home-body {
    background-image: url("https://farm5.staticflickr.com/4573/38284688912_8f68b8bd9d_k.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.user-welcome {
    margin-bottom: 0px;
}

.user-name {
    margin-top: 20px;
    font-size: 38px;
    color: #FFFAFA;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.user-welcome, .user-page-instructions {
    text-align: center;
}

.user-page-instructions > h2 {
    font-size: 23px;
    color: black;
    text-shadow: -0.5px 0 white, 0 0.5px white, 0.5px 0 white, 0 -0.5px white;
}

.user-home-page-container {
    overflow: hidden;
}    

.user-home-page {
    margin-top: 50px;
    margin-left: 60px;
    margin-right: 60px;
}

.user-pic {
    height: 100%;
    width: 150px;
    border-radius: 2px;
    margin-right: 10px;
    border: 1px solid black;
}

.user-page-instructions {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 3px;
    background-color: rgba(247, 240, 240, 0.5);
    border: 0.5px solid #817F7F;
}

.photo-and-instructions {
    display: flex;
    margin-bottom: 25px;
}

.user-col {
    flex: columns;
}

.test-table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    width: 70%;
}

.test-list {
    margin-bottom: 30px;
}

.test-list table, .test-list th, .test-list td {
    border: 1px solid #ddd;
    padding: 3px;
}

#test-table .user-test-info:nth-child(even) {
    background-color: #f2f2f2;
}

#test-table .user-test-info:nth-child(odd) {
    background-color: #FFFFFF;
}

#test-table .user-test-info:hover {
    background-color: #ddd;
}

.test-list th {
    background-color: rgba(138, 136, 138, 0.86);
}

/* Styling for the view users page in the admin area */

.user-view-page-body {
    background-image: url("https://farm5.staticflickr.com/4573/38284688912_8f68b8bd9d_k.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.user-view-page {
    margin-top: 40px;
    margin-left: 60px;
    margin-right: 60px;
}

.user-table {
    border-collapse: collapse;
    width: 100%;
}

.user-info table, .user-info th, .user-info td {
    border: 1px solid #ddd;
    padding: 3px;
}

#user-table .user-test-info:nth-child(even) {
    background-color: #f2f2f2;
}

#user-table .user-test-info:nth-child(odd) {
    background-color: #FFFFFF;
}

#user-table .user-test-info:hover {
    background-color: #ddd;
}

.user-info th {
    background-color: rgba(138, 136, 138, 0.86);
}

/* Create user page */

.create-user-body {
    background-image: url("https://farm5.staticflickr.com/4573/38284688912_8f68b8bd9d_k.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.create-user-page {
    background-color: rgba(247, 240, 240, 0.5);
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 2px;
    border: 0.5px solid #817F7F;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

/* Take test page */

.take-test-page-body {
    background-image: url("https://farm5.staticflickr.com/4573/38284688912_8f68b8bd9d_k.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.take-test-questions-form {
    text-align: center;
}

.take-test-page {
   margin: auto;
}

.take-test-title > h1 {
    font-size: 25px;
    color: #030303;
    margin-bottom: 10px;
    text-shadow: -0.5px 0 #FFFFFF, 0 0.5px #FFFFFF, 1px 0 #FFFFFF, 0 -0.5px #FFFFFF;
    text-align: center;
}

.test-question {
    background-color: rgba(247, 240, 240, 0.5);
    padding: 3px;
    border-radius: 2px;
    border: 0.5px solid #817F7F;;
    width: 50%;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

.question-select {
    border: 1px solid black;
    padding-left: 5px;
    padding-right: 5px;
    width: 50%;
    height: 25px;
    margin-bottom: 10px;
}

.submit-test-button {
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 1px;
    width: 90px;
    height: 40px;
    padding: 2px;
    background: #F8F8FF;
    text-decoration: none;
    text-align: center;
}

.submit-test-button:hover {
    box-shadow: 1px 1px 1px;
}

.admin-welcome {
    font-size: 24px;
    color: #FFFAFA;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    background-color: rgba(61, 58, 58, 0.5);
    border-radius: 6px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 20px;
    width: 50%;
    padding-bottom: 5px;
    padding-top: 5px;
}

@media screen and (max-width: 450px) {
    .main-header > h1 {
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 20px;
    }

    .signup-buttons-container {
        margin-bottom: 280px;
    }

    .signup-buttons {
        width: 100%;
    }

    .main-button {
        display: block;
        width: 80%;
        margin-bottom: 15px;
        margin-left: auto;
        margin-right: auto;
    }

    .admin-login-fields, .signup-fields, .user-login-fields {
        width: 80%;
        margin-bottom: 320px;
    }

    .return-to-home {
        font-size: 18px;
    }

    .login-signup-body {
        margin-bottom: 300px;
    }

    .admin-welcome {
        width: 80%;
    }

    .create-user-page {
        width: 80%;
    }

    .return-to-home-create-test {
        font-size: 18px;
        margin-bottom: 300px;
    }

    .user-table {
        width: 80%;
    }

    .create-test-page {
        width: 90%;
    }

    .return-to-home-admin {
        font-size: 18px;
        margin-bottom: 300px;
    }

    .dropdown-select {
        font-size: 16px;
        width: 80%;
        height: 40px;
    }

    .dropdown-select > option {
        font-size: 16px;
        width: 80%;
    }

    .delete-question {
        height: 40px;
        font-size: 16px;
        padding: 2px;
    }

    .user-page-instructions {
        width: 80%;
    }

    .user-home-page {
        margin-top: 40px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .test-table {
        width: 80%;
        margin-bottom: 400px;
    }

    .take-test-page {
        margin-left: 0px;
    }
    
    .test-question {
        width: 80%;
    }

    .submit-test-button {
        height: 40px;
        font-size: 16px;
        width: 80%;
    }
}
    
@media screen and (min-width: 1500px) {
   
}


