<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/index.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body class="create-user-body">

    <section role="region" class="create-user-page" id="create-user-page">
        <div class="user-data-container" id="user-data-container">
            <div class="user-data">
                <form class="user-data-inputs">
                    <label for="first-name" id="first-name">First Name: </label>
                    <input aria-labelledby="first-name" class="user-first-name input-border" type="text">
                    <label for="last-name" id="last-name">Last Name: </label>
                    <input aria-labelledby="last-name" class="user-last-name input-border" type="text">
                    <label for="id" id="user-id">User ID: </label>
                    <input aria-labelledby="user-id" class="user-id input-border" type="text" required>
                    <label for="password" id="user-password">User Password: <span id="length-error"></span></label>
                    <input aria-labelledby="user-password" class="user-password input-border" type="password" required>
                    <label for="retype-password">Retype Password: <span id="match-error"></span></label>
                    <input aria-labelledby="retype-password" type="password" class="input-border" name="retype-password" id="retype-password" required>
                    <button class="admin-button" id="submit-user-button" type="submit">Submit User Data</button>
                </form>
            </div>
        </div>
    </section>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/scripts/users/create.js"></script>
    
</body>
</html>