<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Fullstack Capstone</title>
    <link rel="stylesheet" href="/index.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body class="user-home-body">
    <header role="banner" class="main-header-small">
        <h1>Test Creator</h1>
    </header>
    <section role="region">
        <div class="user-header main-header" role="banner">
            <div class="user-logout">

            </div>
        </div>
    </section>
    <section role="region" class="user-home-page" id="user-home-page">
        <div class="class user-home-page-container">
            <div class="photo-and-instructions">
                <div class="user-col user-page-instructions">
                    <div class="user-name">
                                
                    </div>
                    <h2>Select a test from the table below</h2>
                    <p></p>
                </div>
            </div>
            <div class="test-list">
                <table class="test-table" id="test-table">
                    <tr>
                        <th>Test</th>
                        <th>Score</th>
                    </tr>
                </table>    
            </div>
        </div>
    </section>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/scripts/users/home.js"></script>
</body>
</html>